@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
/* variables */
.button-ok {
  color: red;
}

.button-not {
  color: blue;
}

/* header */
header {
  background-color: #ffd188;
  border-bottom: solid yellowgreen;
}
header nav {
  padding: 20px;
}
header nav ul li {
  list-style: none;
}
@media screen and (max-width: 968px) {
  header {
    background-color: cadetblue;
  }
}

/*color para el h1 */
h1 {
  color: #457e45;
  font-family: "Roboto", sans-serif;
  font-size: 50px;
}

/*centrado de menu*/
.menu {
  text-align: center;
}

/*botones en horizontal*/
.botonNav > li {
  display: inline-block;
  position: relative;
}

/* fuente y color de los botones del menu */
.botonNav > li > a {
  display: block;
  padding: 15px 20px;
  color: #353535;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

/* resalta los botones con el puntero */
.botonNav li a:hover {
  color: #ce7d35;
}

/* botones desplegables */
.destinos {
  position: absolute;
  background: #333333;
  width: 120%;
  visibility: hidden;
}

.destinos li a {
  display: block;
  padding: 15px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

/* aparece la lista de destinos */
.botonNav li:hover .destinos {
  visibility: visible;
}

/* color de footer */
footer {
  background-color: #457e45;
  padding: 200px;
}

/* eliminar los puntos de las listas */
ul li {
  list-style: none;
}

/* tamaño de la fuente del footer */
.nav-footer {
  font-size: 1em;
}

/* tamaño del icono */
.fa-angle-up {
  font-size: x-large;
  position: top;
}

/* animacion de footer */
.line-1 {
  position: relative;
  top: 0%;
  width: auto;
  height: 2em;
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  font-size: 180%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}

/* animacion de footer */
.anim-typewriter {
  animation: typewriter 4s steps(44) 1s 1 normal both, blinkTextCursor 500ms steps(44) infinite normal;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 24em;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}
/* margen 0 al body */
body {
  margin: 0%;
}

/* tamaño y fuente de los parrafos */
p {
  color: cornflowerblue;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
}

/* Tamaño presentacion */
section h3 {
  font-size: 4em;
}

/* imagen de fondo presentacion */
.presentacion {
  margin: 0%;
  padding: 4em;
  color: cornflowerblue;
  background-image: url(../src/multimedia/fotos/fondo-glaciar.jfif);
}

/*texto de menu destinos a la izquierda*/
.destinos {
  background-color: #ffd188;
  text-align: left;
}

/*clase para centrar los formularios*/
.centrado {
  text-align: center;
  margin: auto;
  display: block;
}

/* aplicar margin al video de youtube */
.youtube {
  margin: 4em;
}

.grid-item {
  position: relative;
}

/* Nombre de las imagenes */
.img-title {
  position: absolute;
  bottom: 0;
  color: #ffffff;
  background: linear-gradient(rgba(255, 255, 255, 0.2), black);
  width: 100%;
  margin: 0;
}

/* Titulos del carrousel */
.centrado-destinos {
  margin: 3em;
  text-align: center;
  display: block;
}

/* flexbox perfil */
.container-perfil {
  display: flex;
  flex-direction: column;
  border: solid black;
  justify-content: center;
  flex-basis: auto;
  padding: 50px;
}

/* padding de la pantalla del perfil */
.perfil {
  padding: 200px;
}

/* imagen de fondo de contacto */
.background-contacto {
  margin-left: 25%;
  margin-right: 25%;
  padding: 150px;
  background-image: url(../src/multimedia/fotos/background-contacto.jpg);
  background-position: top;
}

/* ubicacion del mapa patagonia*/
.mapa {
  padding: 4em;
  text-align: center;
}

/* titulo de contacto */
.margen-contacto {
  margin: 2em;
}

.background-contacto {
  padding: 1em;
  margin: 1em;
}

.form-contacto form input, .form-contacto form textarea,
.form-contacto form button {
  width: 100%;
  padding: 1em;
  border: none;
  background: none;
  outline: none;
  border-bottom: 1px solid olive;
}

.form-contacto form button {
  background: grey;
  border: 0;
}

.form-contacto form button:hover,
.form-contacto form button:focus {
  background: rgba(128, 128, 128, 0.644);
  color: blue;
  transition: 1s;
  outline: 0;
}

.info-contacto h4, .info-contacto ul, .info-contacto p {
  text-align: center;
  margin: 0 0 1rem 0;
}

.info-contacto ul {
  padding: 0;
}

.info-contacto ul li {
  padding: 0.5em;
}

/* pantalla escritorio */
@media (min-width: 700px) {
  .background-contacto {
    padding: 2em;
    margin-left: 25em;
    margin-right: 25em;
    display: grid;
    grid-template-columns: 4fr 1fr;
  }

  .info-contacto {
    padding: 2em;
  }
}

/*# sourceMappingURL=style.css.map */
