/* imagen de fondo de contacto */ 
.background-contacto{
    margin-left: 25%;
    margin-right: 25%;
    padding: 150px;
    
    background-image: url(../src/multimedia/fotos/background-contacto.jpg);
    background-position: top;
}