/* ubicacion del mapa patagonia*/
.mapa{
    
    padding: 4em;
    text-align: center;
}

.footer-destinos{
    
        background-color: rgb(126, 69, 114);
        padding: 60px;
        nav{
          text-align: center;
          padding: 20px;
          color: cadetblue;
          ul li{
              padding: 5px;
          }
        }
    
}

/* ajuste del tamaño del mapa */
.container-map{
  display: grid;
  place-items: center;
  margin: 50px;
}


.margin-destinos{
 margin-top: 50px;
}

/* pantalla mobile */
@media (max-width:600px){

.container-destinos{
  margin: 10px;
}
}


/* pantalla completa */
@media (min-width:1200px){

  .container-destinos{
  margin-left: 400px;
  margin-right: 400px;
  margin-bottom: 100px;
}
}