/* ubicacion del mapa patagonia*/
.mapa{
    
    padding: 4em;
    text-align: center;
}

.footer-destinos{
    
        background-color: rgb(126, 69, 114);
        padding: 60px;
        nav{
          text-align: center;
          padding: 20px;
          color: cadetblue;
          ul li{
              padding: 5px;
          }
        }
    
}

/* ajuste del tamaño del mapa */
.container-map{
  display: grid;
  place-items: center;
  margin: 50px;
}


/* pantalla mobile */
@media (max-width:700px){

  .container-map iframe{
    width: 360px;
  }
}

/* flexbox en los destinos */
.container-destinos{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}