

/* diseño del footer */
footer{
  background-color: rgb(126, 69, 114);
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    nav.nav-footer{
      display: flex;
      justify-content: center;
      
      align-items: center;
      padding: 20px;
      color: cadetblue;
      margin: 0;
      padding:2px;
      ul li{
        padding: 5px;
      }
    }
    p.copyright{
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin: 0px;
      padding: 0;

    }
}

/* eliminar los puntos de las listas */
ul li{
  list-style: none;
}

/* tamaño de la fuente del footer */
.nav-footer{
    font-size: 1em;
}

/* tamaño del icono */ 
.fa-angle-up{
    font-size: x-large;
    position: top;
}

/* diseño boton volver arriba */
.boton-arriba{
    width: 60px;
    height: 60px;
    color: black;
    position: fixed;
}  
